.footer {
  position: relative;
  overflow: hidden;
  margin-top: 80px;
  padding: 70px 50px;
  border-radius: 70px 70px 0 0;
  background: url("../img/Gemini_Generated_Image_zg4wquzg4wquzg4w.png") center center/cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footer-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.93);
  text-decoration: none;

}

.footer-content {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  gap: 300px;
  
  align-items: flex-start;

  
}

.footer-col {
  flex: 1;
}
.footer-col h3,
.footer-col h2 {
  color: #00fcff;
  margin-bottom: 25px;
}
.footer-col h3{
  margin-left: 60px;
}

.footer-col p {
  color: #d1d1d1;
  line-height: 1.9;
  margin-bottom: 25px;
}
.footer-col p a{
  text-decoration: none;
  color: white;
}
.footer-col ul {
  list-style: disc;
  padding-right: 20px;
  
}

.footer-col ul li {
  color: #d1d1d1;
  margin-bottom: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: right;
}

.footer-col ul li:hover {
  color: #fff;
  transform: translateX(-10px);
}
.footer-col ul li a {
  color: #d1d1d1;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
}


.center {
  text-align: center;
}
.footer-col:first-child{
  text-align: right;
}

.footer-col:last-child{
  text-align: left;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 25px;
}
.socials img{
  width: 35px;
  height: 35px;
}
.socials a {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;


  font-size: 22px;

  transition: .3s;
}

.social.instagram:hover {
  filter: invert(34%) sepia(74%) saturate(2550%) hue-rotate(310deg) brightness(95%);
}

.social.telegram:hover {
  filter: invert(45%) sepia(90%) saturate(1200%) hue-rotate(170deg);
}

.social.youtube:hover {
  filter: invert(20%) sepia(100%) saturate(6000%) hue-rotate(0deg);
}
@media screen and (max-width: 768px) {
  .footer {
      padding: 40px 20px;
      height: auto;
  }
  
  .footer-content {
      gap: 30px;
      flex-direction: row;
      flex-wrap: wrap;
  }
  
  .footer-col {
      flex: 0 0 calc(50% - 15px);
      min-width: auto;
  }
  
  .footer-col:first-child {
      flex: 0 0 100%;
      text-align: center !important;
  }
}

